    
{% set get_shop_level = '010.catalog' %}


<style>
    .index-list-icons>div>div{ 
        margin: 3px; 
        text-align: center;
        box-shadow: 5px 5px 5px gray;
        border: 2px solid gray;
        width: 15%;
        display:inline-block;
        padding: 20px;
    }
    .fa-size{ 
        font-size: 60px; 
    }

</style>









{#{% set items = items__get(db,'010.catalog_items') %}
{{ pa(items) }}#}

{% set items = shop__get_items_start(db) %}
{#{{ pa(items,2) }}#}

{% set photos = shop__getPhotoArticuls()  %}

<style>
    .ww{ margin-left: 2%; margin-right: 2%; margin-bottom: 4vh; }
</style>

<div class="ww" >
    <div class="container" >

        <div class="row" >
            <div class="col text-left" >
                <h3 class="head" style="" >Популярные товары</h3>
            </div>
        </div>

        {#
        <div class="row" >
            <div class="col text-right small-gray-link" >
                <a href="#a" >Samsung</a>
                <a href="#a" >Xerox</a>
                <a href="#a" >Canon</a>
                <a href="#a" >Brother</a>
            </div>
        </div>
        #}

        <div class="row" >

            {#{{ pa(photos,2) }}#}
            {% for item in items if photos[item.art][0]['show'] is defined and photos[item.art][0]['show']|length > 0 %}

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center shop-item" >

                    {#{{ pa(item) }}#}

                    <div>
                        <a href="/{{ get_shop_level }}/{{ item.cat_id_id }}/item/{{ item.id }}/{{ f__translit(item.head,'uri2')|slice(0, 20) }}/" >
                            {#<img src="{{ sd_local }}photo/11.jpg" alt="" border="0" />#}
                            {#<div class="item" style="background-image: url('{{ sd_local }}photo/11.jpg');">&nbsp;</div>#}
                            <div class="item" style="background-image: url('/di-img/min/400/{{ photos[item.art][0]['show'] }}');">&nbsp;</div>
                            <div class="opis {#text-truncate#}"  >{{ item.head|replace({'с ':'с&nbsp;', 'без ':'без&nbsp;', 'для ':'для&nbsp;'})|raw }}</div>
                        </a>

                        {% if item.price != empty and item.price > 0 %}
                            <div class="order" >
                                <button
                                    class="shop__add_to_cart"
                                    action="add_item_to_cart"

                                    {%  for k3,v3 in item %}
                                        aj_{{ k3 }} ="{{ v3 }}"
                                    {% endfor %}

                                    aj_kolvo ="1"
                                    id="{{ item.id }}"
                                    s="{{ creatSecret( item.id ) }}"
                                    hide_this_on_click="da"
                                    show_id_defore_click="but_ok_{{ item.id }}"

                                    >Купить</button> 

                                <a href="/010.catalog/cart/" 
                                   {#class="orderaddcart-ver2 ok btn btn-success" #}
                                   class="orderaddcart-ver2 ok ord_button_in_cart" 
                                   id="but_ok_{{ item.id }}"
                                   style="
                                   margin-top:0;
                                   display:none;
                                   margin-bottom: 1vh;
                                   "
                                   > 
                                    В&nbsp;корзине
                                </a>

                                <div class="price" >{{ item.price }}&nbsp;₽</div>
                            </div>
                        {% endif %}

                        {% if item.price2 != empty %}
                            <div class="order" >
                                <button
                                    class="shop__add_to_cart"
                                    action="add_item_to_cart"

                                    {%  for k3,v3 in item %}
                                        aj_{{ k3 }} ="{{ v3 }}"
                                    {% endfor %}

                                    aj_kolvo ="1"
                                    aj_type_price="price2"

                                    id="{{ k ~'z' }}"
                                    s="{{ creatSecret( k ~'z' ) }}"

                                    hide_this_on_click="da"
                                    show_id_defore_click="but2_ok_{{ item.id }}"

                                    >Заправить</button> 

                                <a href="/010.catalog/cart/" 
                                   class="orderaddcart-ver2 ok ord_button_in_cart" 
                                   id="but2_ok_{{ item.id }}"
                                   style=" 
                                   margin-top:0;
                                   display:none;
                                   margin-bottom: 1vh;
                                   "
                                   > 
                                    Заправка в&nbsp;корзине
                                </a>

                                <div class="price" >{{ item.price2 }}&nbsp;₽</div>
                            </div>
                        {% endif %}

                    </div>

                    {#{{ pa(i) }}#}

                </div>
            {% endfor %}

        </div>

        <div class="row" >
            <div class="col-xs-12 col-sm-12 col-lg-12 text-center" >
                <a href="/010.catalog/" class="btn btn-info2" >Показать весь каталог</a>
            </div>
        </div>
























        {% if 1 == 2 %}

            <div class="row" >
                <div class="col-xs-12 col-sm-12 col-lg-12 text-center" >
                    <h3 class="head">Почему работают с нами</h3>
                </div>
            </div>


            <div class="row index-list-icons" >
                <div class="col-xs-12 col-sm-12 col-lg-12 text-center" >
                    <div>
                        <span class="fa fa-home fa-size" ></span>
                        <br/>
                        текст
                    </div>
                    <div>
                        <span class="fa fa-home fa-size" ></span>
                        <br/>
                        текст
                    </div>
                    <div>
                        <span class="fa fa-home fa-size" ></span>
                        <br/>
                        текст
                    </div>
                    <div>
                        <span class="fa fa-home fa-size" ></span>
                        <br/>
                        текст
                    </div>
                    <div>
                        <span class="fa fa-home fa-size" ></span>
                        <br/>
                        текст
                    </div>
                    <div>
                        <span class="fa fa-home fa-size" ></span>
                        <br/>
                        текст
                    </div>
                </div>
            </div>

            {% include constant('dir_site_module_nowlev_tpl_local')~'body.page.htm' %}

        {% endif %}

    </div>
</div>